 
//<Snippetinput_rc>
#include "resource.h"

IDR_ACCEL1 ACCELERATORS
{
    0x4D,   ID_MODE_TOGGLE, VIRTKEY, CONTROL    // ctrl-M
    0x70,   ID_MODE_DRAW  , VIRTKEY             // F1
    0x71,   ID_MODE_SELECT, VIRTKEY             // F2
}
//</Snippetinput_rc>
